@font-face {
    font-family: 'Tomatoes';
    src: url('assets/font/Tomatoes-O8L8.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/assets/bg-pc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.card {
    width: 300px;
    height: 200px;
    background: #f5c4c4;
    position: relative;
    border-radius: 12px;
    animation: float 3s ease-in-out infinite;
    perspective: 1000px;
}
.envelope {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border-top: 200px solid transparent;
    border-right: 300px solid #f8b195;
    border-radius: 12px;
}
.envelope::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    border-top: 200px solid transparent;
    border-left: 300px solid #f5aa8c;
    border-radius: 12px;
}
.flat {
    content: "";
    position: absolute;
    bottom: 80px;
    left: 0;
    z-index: 3;
    border-top: 120px solid #f1bca7;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    border-radius: 12px;
    transition: all .5s ease-in-out;
    transform-origin: top;
}
.card.open .flat {
    z-index: -1;
    bottom: 75px;
    transform: rotateX(-180deg);
}
.card img {
    position: absolute;
    display: block;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    transition: all .3s ease-in-out;
}
.card.open img {
    top: 57%;
}
.back {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
    text-align: center;
    font-family: Tomatoes, sans-serif;
    font-size: 13px;
    line-height: 24px;
    transition: all .5s ease-in-out;
    transition-delay: .5s;
    transform: translateY(0);
    z-index: 0;
    background: #f5c4c4;
    border-radius: 12px;
}
.card.open .back {
    top: -70%;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@media screen and (min-width: 768px) {
    .card {
        width: 500px;
        height: 400px;
        margin-top: 120px;
    }
    .envelope {
        border-top: 400px solid transparent;
        border-right: 500px solid #f8b195;
    }
    .envelope::before {
        border-top: 400px solid transparent;
        border-left: 500px solid #f5aa8c;
    }
    .flat {
        bottom: 160px;
        border-top: 240px solid #f1bca7;
        border-right: 250px solid transparent;
        border-left: 250px solid transparent;
    }
    .card img {
        top: 57%;
        width: 75px;
        height: 75px;
    }
    .card.open .flat {
        z-index: -1;
        bottom: 150px;
        transform: rotateX(-180deg);
    }
    .card.open img {
        top: 62%;
    }
    .back {
        font-size: 22px;
        line-height: 36px;
    }
    .card.open .back {
        top: -48%;
    }
}